<% title 'Pages' %>

<div class="admin_functions">
  <%= link_to 'New Page', new_admin_page_path %>
</div>

<%= informant_table @pages, {
      :headings => [ :title, ih_order(:slug, 'Link'), 'Home?', '', '', '' ], 
      :body => [ :title, 
                 lambda{|x| link_to page_url(:id => x.slug), page_url(:id => x.slug), :target => "_blank" },
                 it_toggle(:home_page?, :set_home_page_admin_page_path),
                 it_edit_images, 
                 it_edit, 
                 it_destroy ]
    } %>
