<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head></head>
	<body>
		<h2>Someone has completed the contact form on <a href="http://schoolhealthplus.co.uk" target="_blank">School Health Plus</a></h2>
		<h3>Name</h3>
		<p><%= @name %></p>
		<% unless @tel.blank? %>
			<h3>Telephone</h3>
			<p><%= @tel %></p>
		<% end %>
		<% unless @email.blank? %>
			<h3>Email</h3>
			<p><%= mail_to(@email) %></p>
		<% end %>
		<% unless @enquiry.blank? %>
			<h3>Enquiry</h3>
			<p><%= @enquiry %></p>
		<% end %>
	</body>
</html>