<div class="content_left">
  <div class="box">
	  <div class="padding">
    <h1><%= title(@title) %></h1>
    
		  <% unless @case_studies.empty? %>
        <div class="case_studies_list">
          <% @case_studies.each do |case_study| %>
            <%= render "case_studies/case_study", :case_study => case_study %>
          <% end %>
        </div>
        <%= paginate(@case_studies) %>
      <% else %>
        <p>No case studies to display.</p>
      <% end %>
      
      <div class="clear"></div>
    </div>
  </div>
</div>

<div class="right">
  <%= render 'shared/right_pages' %>
</div>
