@import "variables";

/*--Header--*/

.top {
	height: 137px;
	font-size: 11px;
	color: #e5e5e5;
	
		a {
			color: #666666; 
			text-decoration: underline; 
			font-weight: normal;
			padding: 0px 2px 0px 2px;
			&:visited, &:active {color: #666666;}
			&:hover, &.highlight, &.highlight:active, &.highlight:hover, &.highlight:visited {color: #000000; text-decoration: underline;}
		}
}

.top_left {
	width: 530px;
	float: left;
	background-image: url(top_left_bg.gif);
	background-repeat: no-repeat;
	background-position: top;
	padding-top: 12px;
	
	img {
		margin: 8px 0px 0px 10px;
	}
}

.top_widgets {
	width: 235px;
	float: left;
	display: inline;
	margin-bottom: 13px;
}

.time {
	background-color: #e8f2fa;
	padding: 3px 5px 3px 5px;
	color: #333333;
	margin-left: 8px;
}

.date_top {
	color: #666666;	
}

.top_links_left {
	float: left;	
}

.top_links_right {
	float: right;
	text-align: right;
	padding-top: 12px;
	
	img {
		margin: 10px 0px 0px 0px;
	}
}


/*--Search Form--*/
.top_form {
	position: absolute;
	right: 0px;
	top: 0px;
	background-image: url(form_search_bg.gif);
	background-repeat: repeat-x;
	height: 49px;
	padding: 9px 9px 0px 9px;
	width: 220px;
	
	form {
		@include zero;
		input {width: 140px; float: left;}
		input.submit {width: 60px; float: right;}
	}
}

/*--Navigation--*/
.navigation {
	background-image: url(nav_bg.gif);
	background-repeat: repeat-x;
	height: 58px;
	padding-left: 10px;
	position: relative;
	
		a {
			color: #ffffff; 
			text-decoration: none; 
			font-weight: normal;
			font-size: 15px;
			float: left;
			display: block;
			height: 40px;
			padding: 12px 10px 0px 10px;
			&:visited, &:active {color: #ffffff;}
			&:hover, &.highlight, &.highlight:active, &.highlight:hover, &.highlight:visited {text-decoration: none; font-weight: normal; color: $green; border-bottom: 6px solid $green; background-color: #FFFFFF;}
	}
}